---
---

@import "{{ site.theme }}";

* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'Gentona Book';
    src: url("/assets/fonts/gentona/Gentona-Book.eot");
    src: local("☺"), url("/assets/fonts/gentona/Gentona-Book.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/gentona/Gentona-Book.woff") format("woff"), url("/assets/fonts/gentona/Gentona-Book.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gentona';
    src: url("/assets/fonts/gentona/Gentona-Medium.eot");
    src: local("☺"), url("/assets/fonts/gentona/Gentona-Medium.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/gentona/Gentona-Medium.woff") format("woff"), url("/assets/fonts/gentona/Gentona-Medium.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gentona Italic';
    src: url("/assets/fonts/gentona/Gentona-MediumItalic.eot");
    src: local("☺"), url("/assets/fonts/gentona/Gentona-MediumItalic.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/gentona/Gentona-MediumItalic.woff") format("woff"), url("/assets/fonts/gentona/Gentona-MediumItalic.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gentona Book Italic';
    src: url("/assets/fonts/gentona/Gentona-BookItalic.eot");
    src: local("☺"), url("/assets/fonts/gentona/Gentona-BookItalic.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/gentona/Gentona-BookItalic.woff") format("woff"), url("/assets/fonts/gentona/Gentona-BookItalic.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gentona Bold';
    src: url("/assets/fonts/gentona/Gentona-Bold.eot");
    src: local("☺"), url("/assets/fonts/gentona/Gentona-Bold.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/gentona/Gentona-Bold.woff") format("woff"), url("/assets/fonts/gentona/Gentona-Bold.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gentona Bold Italic';
    src: url("/assets/fonts/gentona/Gentona-BookItalic.eot");
    src: local("☺"), url("/assets/fonts/gentona/Gentona-BoldItalic.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/gentona/Gentona-BoldItalic.woff") format("woff"), url("/assets/fonts/gentona/Gentona-BoldItalic.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Quadon Regular';
    src: url("/assets/fonts/quadon/Quadon-Regular.eot");
    src: local("☺"), url("/assets/fonts/quadon/Quadon-Regular.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/quadon/Quadon-Regular.woff") format("woff"), url("/assets/fonts/quadon/Quadon-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Quadon Regular Italic';
    src: url("/assets/fonts/quadon/Quadon-RegularItalic.eot");
    src: local("☺"), url("/assets/fonts/quadon/Quadon-RegularItalic.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/quadon/Quadon-RegularItalic.woff") format("woff"), url("/assets/fonts/quadon/Quadon-RegularItalic.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Quadon Medium';
    src: url("/assets/fonts/quadon/Quadon-Medium.eot");
    src: local("☺"), url("/assets/fonts/quadon/Quadon-Medium.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/quadon/Quadon-Medium.woff") format("woff"), url("/assets/fonts/quadon/Quadon-Medium.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Quadon Medium Italic';
    src: url("/assets/fonts/quadon/Quadon-MediumItalic.eot");
    src: local("☺"), url("/assets/fonts/quadon/Quadon-MediumItalic.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/quadon/Quadon-MediumItalic.woff") format("woff"), url("/assets/fonts/quadon/Quadon-MediumItalic.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}


html,
body {
    height: 100%;
    font: 400 18px/1.5 "Gentona", "Arial", sans-serif;
    color: #222;
    background-color: white;
    -moz-osx-font-smoothing: antialiased !important;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
    margin: 0px;
}

h1,
h3 {
    font-family: "Quadon Medium", "Rockwell Bold", serif;
}

h2 {
    font-family: "Quadon Regular", Rockwell, serif;
}

h4,
h5,
h6 {
    font-family: "Gentona Bold", "Arial Bold", sans-serif;
}

h4 {
    color: #318dde;
}



.site-header {
    background: #4a484c;
    color: #fcfbfd;
    min-height: auto;
}

.site-nav {
    background: #4a484c;
}

.site-header .wrapper .site-title div {
    display: flex;
}

.site-header .wrapper .site-title div span {
    flex: auto;
}

.site-header .wrapper .site-title div span:last-of-type {
    margin-left: .3em;
}

.site-title,
.site-title:visited {
    color: #fcfbfd;
}

.site-nav .page-link {
    color: #fcfbfd;
}

#tag-cloud {
    padding: .5em;
    margin-left: .5em;
    border-radius: 1em;
    text-align: center;
    background: #54278f;
}

#tag-cloud a+a {
    margin-left: 5px;
}

#tag-cloud .set-5 {
    font-size: 1.6rem;
    color: #fcfbfd;
}

#tag-cloud .set-4 {
    font-size: 1.4rem;
    color: #efedf5;
}

#tag-cloud .set-3 {
    font-size: 1.2rem;
    color: #dadaeb;
}

#tag-cloud .set-2 {
    font-size: 1.1rem;
    color: #bcbddc;
}

#tag-cloud .set-1 {
    font-size: 1rem;
    color: #9e9ac8;
}

body>main>.wrapper>div {
    padding-top: .5em;
}

@media screen and (max-width: 600px) {
    .site-nav .menu-icon>svg {
        fill: #fcfbfd;
    }
}

@media only screen and (min-width: 600px) {
    #tag-cloud {
        order: 2;
        flex-grow: 1;
        display: inline-table;
    }

    @supports (height: fit-content) {
        #tag-cloud {
            height: fit-content;
            display: block;
        }
    }

    body>main>.wrapper>div {
        order: 1;
        flex-grow: 2;
    }

    main.page-content .wrapper {
        display: flex;
        flex-direction: row;
    }
}